# -----< OpenAI & LLM >-----
OPENAI_API_KEY=API_YOUR_HERE
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_DIMENSION=1536
GENERATE_MODEL=gpt-4o-mini
TEMPERATURE_MAIN=0.6
TEMPERATURE_CHITCHAT=0.8
MAX_GEN_MAIN=500
MAX_GEN_CHITCHAT=300

# -----< Reranker >-----
USE_RERANKER=True
RERANKER_MODEL=jinaai/jina-reranker-v2-base-multilingual

# -----< Chunking >-----
FIXED_CHUNK_SIZE=1768
FIXED_CHUNK_OVERLAP=320

# -----< Search & Retrieval >-----
VECTOR_SEARCH_K=7
ELASTIC_SEARCH_K=7
RRF_K=60  
FUSION_K=10
RERANK_TOP_K=3

# -----< Query Rewriting >-----
MAX_HISTORY_TOKENS_REWRITE=250
TEMPERATURE_REWRITER=0.3
K_REWRITE=5

# -----< Postgres >-----
POSTGRES_HOST=localhost
POSTGRES_PORT=5000
POSTGRES_DB=utehy
POSTGRES_USER=admin
POSTGRES_PASSWORD=c2aff2c6b2b4d50206a0177b704adf63

# -----< MinIO >-----
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=783f796b5150eec01259b9cd76557ad4
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=783f796b5150eec01259b9cd76557ad4
MINIO_SECURE=False
MINIO_BUCKET_NAME=utehy

# -----< Kafka >-----
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
INDEXING_INPUT_TOPIC=minio-file-events
INDEXING_STATUS_TOPIC=minio-file-status
INDEXING_CONSUMER_GROUP=indexing-group-1
INDEXING_BATCH_SIZE=10
INDEXING_BATCH_INTERVAL=2

# -----< Store Cache >-----
BM25_CACHE_DIR=./data/vector_store/bm25_store
FAISS_CACHE_DIR=./data/vector_store/faiss_store

# ------< Index State (Postgres table) >-----
INDEX_STATE_SCHEMA=public
INDEX_STATE_TABLE=file_index_state